.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
  }

.todo-all {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(241, 241, 241);
    color: black;
    width: 234px;
    white-space: normal;
    border-radius: 10px;
    margin: 0.2rem;
    padding-left: 5px;
    


}  
