* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image:  linear-gradient(50deg, #EECFBA, #C5DDE8);
  color: rgb(20, 20, 20);
  font-family: "Poppins", sans-serif;
}

header {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header,
  form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form input,
  form button {
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
    color: #070707;
    background: rgb(241, 241, 241);
    border-radius: 10px;
    transition: all 0.5s ease;
    outline: 0;
    outline-offset: 0;
  }
  form button:hover {
    background: #383838;
    color: rgb(241, 241, 241);
  }